<!-- <h1>{{ title }}</h1>
<h3>{{ unContact.name }}
  <small>{{ unContact.email }}</small>
</h3>
<ul>
  <li *ngFor="let contact of mesContacts">
    {{ contact.name }}
  </li>
</ul> -->

<div class="container">
  <header class="mb-4">
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
        {{ title }}</a>
      </div>
    </nav>
  </header>

<div class="row">

<!--  Liste des Contacts-->
    <div class="col-sm-4">
      <!-- https://getbootstrap.com/docs/4.5/components/list-group/#links-and-buttons -->
      <div class="list-group">
        <!-- on supprime la class active -->
        <a href="#"
        *ngFor="let contact of mesContacts"
       (click)="displayContact(contact)"
       [class.active]="contact === contactProfil"
        class="list-group-item list-group-item-action ">
          {{ contact.name }}
        </a>

      </div>

    </div>
<!--  profil du  Contact-->
    <div class="col-sm-8">
      <div class="jumbotron" *ngIf="contactProfil">
        <h1 class="display-4">{{contactProfil.name}}
        </h1>
        <p class="lead">{{contactProfil.email}}.</p>
        <p class="lead">{{contactProfil.tel}}</p>
        <hr class="my-4">
        <input type="text"

          [(ngModel)]="contactProfil.name"
        class="form-control">

      <div class="jumbotron" *ngIf="!contactProfil">
        <h1 class="display-4">Mes contacts
        </h1>
        <p class="lead">Choississez un contact dans le menu à gauche.</p>

        <hr class="my-4">
      </div>
    </div>
</div><!--row-->

</div><!--fin container-->
